Package: enigma2-plugin-skins--j00zeks-homar80-uno4kse
Priority: optional
Section: utils
Depends: enigma2---j00zeks-components enigma2-plugin-skins--j00zeks-blackharmonyfhd
Description: skórka LCD do VTI-Uno4K SE kolegi homar80
Maintainer: j00zek
Source: NA
Version: 19.02.23.2026
Architecture: vuuno4kse
DestinationPath: /
