Package: enigma2-plugin-picons--j00zeks-animated-flara2-by-adek-xpicon-size-220x132
Priority: optional
Section: utils
Depends: 
Description: Flara2 by Adek is an animation displayed over the picon
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 18.09.28.0730
Architecture: all
DestinationPath: /usr/share/enigma2/animatedPicons
