Package: enigma2---j00zeks-components
Priority: optional
Section: utils
Depends: 
Description: e2 components used in BlackHarmony and UserSkin
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 19.11.10.0756
Architecture: all
DestinationPath: /usr/lib/enigma2/python
