Package: enigma2-plugin-extensions--j00zeks-vti-cleanup
Priority: optional
Section: utils
Depends: 
Description: automatycznie odinstalowuje 'smieci' z systemu VTI. Pełna lista na forum DVHK
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 19.02.07.1646
Architecture: all
DestinationPath: /usr/bin
