Package: enigma2-plugin-skins--j00zeks-blackharmonyfhd-previews
Priority: optional
Section: utils
Depends: enigma2-plugin-skins--j00zeks-blackharmonyfhd
Description: zawiera zrzuty dodatkowych ekranów
Maintainer: j00zek
Source: NA
Version: 19.02.12.0904
Architecture: all
DestinationPath: /usr/share/enigma2/BlackHarmony/allPreviews
