Package: enigma2-plugin-extensions--j00zeks-msnweather-np
Priority: optional
Section: utils
Depends: 
Description: wersja NIEWSPIERANA w wątku BH!!!
Maintainer: j00zek
Source: 
Version: 19.01.05.1057
Architecture: all
DestinationPath: /usr/lib/enigma2/python/
