Package: enigma2-plugin-extensions--j00zeks-msnweather-np
Priority: optional
Section: utils
Depends: 
Description: wersja NIEWSPIERANA w wątku BH!!!
Maintainer: j00zek
Source: 
Version: 18.12.30.1513
Architecture: all
DestinationPath: /usr/lib/enigma2/python/
