Package: enigma2-plugin-extensions--j00zeks-msnweather
Priority: optional
Section: utils
Depends: 
Description: wtyczka MSN weather dla VTI mod j00zek
Maintainer: dr.best@dreambox-tools.info
Source: 
Version: 18.11.18.0818
Architecture: all
DestinationPath: /usr/lib/enigma2/python/
