Package: enigma2-plugin-extensions--j00zeks-e2iplayer-armv7-4k
Priority: optional
Section: utils
Depends: 
Description: zawiera zebrane poprawki Mario, mosz_nowy i innych oraz dodane binarki
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 20.02.05.0703
Architecture: all
DestinationPath: /
ExcludeFolder: Sync_and_Patch
