Package: enigma2-plugin-picons--j00zeks-msnweather-animated-icons2
Priority: optional
Section: utils
Depends: enigma2-plugin-skins--j00zeks-blackharmonyfhd
Description: Animowane ikony pogody dla skórki BlackHarmony wersj 2
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 18.11.13.0950
Architecture: all
DestinationPath: /usr/share/enigma2/animatedWeatherIcons
