Package: enigma2-plugin-skin--j00zeks-blackharmonyfhd-package
Priority: optional
Section: utils
Depends: enigma2---j00zeks-components enigma2-plugin-skins--j00zeks-blackharmonyfhd enigma2-plugin-extensions--j00zeks-userskin
Description: installs crash BlackHarmonyFHD mod j00zek with all useful packages
Maintainer: j00zek
Source: NA
Version: 18.08.01.0809
Architecture: all
DestinationPath: /
