Package: enigma2-plugin-skins--j00zeks-homar80-ultimo4k
Priority: optional
Section: utils
Depends: enigma2---j00zeks-components enigma2-plugin-skins--j00zeks-blackharmonyfhd
Description: skórka LCD do VTI-Ultimo4K kolegi homar80
Maintainer: j00zek
Source: NA
Version: 19.01.27.0604
Architecture: vuultimo4k
DestinationPath: /
