Package: enigma2-plugin-extensions--j00zeks-userskin
Priority: optional
Section: utils
Depends: 
Description: plays videos using system and serviceapp routines, also downloads covers and movie infos from tmdb
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 17.10.19.1356
Architecture: all
DestinationPath: /usr/lib/enigma2/python/Plugins/Extensions/UserSkin
