Package: enigma2-plugin-skins--j00zeks-blackharmonyfhd
Priority: optional
Section: utils
Depends: enigma2---j00zeks-components
Description: crash BlackHarmonyFHD mod by j00zek for OpenATV, and other images
Maintainer: j00zek
Source: NA
Version: 18.10.09.0925
Architecture: all
DestinationPath: /
