Package: enigma2-plugin-skins--j00zeks-blackharmonyfhd
Priority: optional
Section: utils
Depends: 
Description: crash BlackHarmonyFHD mod by j00zek for VTI, OpenATV, and other images
Maintainer: j00zek
Source: NA
Version: 17.10.18.1931
Architecture: all
DestinationPath: /
